.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 6;
}

.justify-content-lg-between {
  font-size: 24px;
}

.mt-3 {
  font-size: 20px;
  margin-top: 1rem!important;
} 

.text-center .p-4{
  font-size: 20px;
}