.Destination__cart-group {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.Destination__img {
  width: 160px;
  height: 160px;
}

.Destination__name {
  position: relative;
  top: 200px;
}

.Destination__quantity {
  position: relative;
  top: 200px;
}