// .test-buttons {
//     width: 100%;
//     height: 70%;
//     position: absolute;
//     top: 80px;
//     // border: 1px solid green;
//     display: flex;
//     background-color: #F6F8FC;

//     .btn {
//         background-color: var(--blue-main);
//         font-weight: 700;
//         font-size: 1rem;
//         padding: -1px 20px;
//         margin-right: 5px;
//         background: none;
//         border: none;
//         font: inherit;
//         cursor: pointer;
//         color: black;
//     }
// }
.py-5{
    padding-top: 120px !important;
}
.main-content-container-new {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    // border: 1px solid green;
    display: flex;
    background-color: #F6F8FC;

    hr {
        width: 100%;
        border-top: 3px solid grey;
    }

    .left-content-container {
        margin-top: 35px;
        position: absolute;
        left: 100px;
        height: 90%;
        width: 20%;
        background-color: #FA7436;
        border-radius: 20px;
        align-items: center;

        b {
            display: block;
            text-align: center;
            color: white;
            padding-top: 25px;
        }
        .sidebar-map{
            margin-top: 12px;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .hotel-detail-overview{
            display: block;
            color: white;
            padding-top: 30px;
            padding-left: 30px;
        }
        .hotel-detail-review, .hotel-detail-rule{
            display: block;
            color: white;
            padding-top: 12px;
            padding-left: 30px;
        }
        .hotel-detail-checkin,.hotel-detail-checkout,
        .hotel-detail-cancel,.hotel-detail-deposit,.hotel-detail-child,
        .hotel-detail-pet,.hotel-detail-payment{
            display: block;
            color: white;
            padding-top: 12px;
            padding-left: 55px;
            font-size: 15px;
            font-weight: 400;
            align-items: center;
            display: flex;
            gap: 8px;
        }
        .hotel-detail-checkin-icon{
            width: 8px;
        }
    }

    .right-content-container {
        height: 100%;
        width: 60%;
        position: absolute;
        right: 5%;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        .top-container{
            display: flex;
            justify-content: center;
            margin-top: 35px;
            align-items: center;
            .top-text {
                display: flex;
                justify-content: flex-start;
                gap: 30px;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                .fourth-text-review{
                    position: relative;
                    top: 50px;
                }
            }
            .top-btn-order{
            margin-left: 15px;
            }
        }

        .image-content {
            width: 100%;
            height: 48%;
            // border: 1px solid red;

            .top-image {
                display: flex;
                justify-content: flex-start;
                gap: 10px;

                .top-item-img {
                    height: 245px;
                    width: 500px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                }
            }

            .bottom-image {
                display: flex;
                justify-content: flex-start;
                gap: 10px;
                padding-top: 14px;

                .top-item-img {
                    height: 260px;
                    width: 270px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                }
            }
        }


    }
}

.description {
    width: 90%;
    height: 35%;
    // border: 1px solid red;
    position: absolute;
    top: 810px;
    left: 50%;
    transform: translateX(-50%);
    // text-align: center;
    padding-left: 100px;
}

.Destination-icon-decor-new {
    position: absolute;
    top: 1220px;
    /* Đẩy phần tử xuống 50px từ trên cùng */
    left: 50%;
    transform: translateX(-50%);
    /* Để giữ nguyên giữa theo chiều ngang */
    // border: 1px solid green;
    width: 100%;
    height: 60%;
    margin-bottom: 10px;

    b {
        font-weight: 600;
        display: inline-block;
        font-size: 2.2rem;
        z-index: 2;
        position: absolute;
        left: 35%;
        padding-top: 60px;
    }

    .rating-secion {
        position: absolute;
        top: 10%;
        display: flex;

        .btn {
            background-color: var(--blue-main);
            font-weight: 700;
            font-size: 1.2rem;
            padding: 0px 7px;
            margin-right: 10px;
        }

        .dot-adjust {
            font-size: 20px;
            margin-top: 12px; // Adjust this value as needed
        }
    }

    .Multi-container {
        position: absolute;
        // border: 1px solid red;
        top: 10%;
        left: 5%;
    }

    .Destination-icon--red-new {
        position: absolute;
        top: calc(158%);
        /* Đẩy phần tử xuống 50px từ trên cùng */
        left: 50%;
        transform: translateX(-50%);
        /* Để giữ nguyên giữa theo chiều ngang */
        width: 100%;
        height: 37px;
        // overflow: hidden;
    }

    .Destination-icon--blue-new {
        position: absolute;
        top: 0;
        /* Đẩy phần tử xuống 50px từ trên cùng */
        left: 50%;
        transform: translateX(-50%);
        /* Để giữ nguyên giữa theo chiều ngang */
        width: 100%;
        height: 37px;
        // overflow: hidden;
        align-items: center;

    }
}

.general-rules-container {
    width: 100%;
    height: 50%;
    // border: solid 1px purple;
    position: absolute;
    top: 1900px;



    b {
        font-weight: 600;
        display: inline-block;
        font-size: 2.2rem;
        z-index: 2;
        position: absolute;
        left: 40%;
    }

    .main-content-container {
        height: 350%;
        width: 80%;
        border: 1px solid grey;
        background-color: white;
        position: absolute;
        left: 10%;
        top: 25%;

        .head-hr {
            width: 95%;
            border-top: 3px solid grey;
            position: absolute;
            top: 8%;
            left: 2.5%;
        }

        .first-member-hr {
            width: 95%;
            border-top: 3px solid grey;
            position: absolute;
            top: 15%;
            left: 2.5%;
        }

        .second-member-hr {
            width: 95%;
            border-top: 3px solid grey;
            position: absolute;
            top: 24%;
            left: 2.5%;
        }

        .third-member-hr {
            width: 95%;
            border-top: 3px solid grey;
            position: absolute;
            top: 35%;
            left: 2.5%;
        }

        .fourth-member-hr {
            width: 95%;
            border-top: 3px solid grey;
            position: absolute;
            top: 58%;
            left: 2.5%;
        }

        .fifth-member-hr {
            width: 95%;
            border-top: 3px solid grey;
            position: absolute;
            top: 66%;
            left: 2.5%;
        }

        .sixth-member-hr {
            width: 95%;
            border-top: 3px solid grey;
            position: absolute;
            top: 73%;
            left: 2.5%;
        }

        .head-item {
            position: absolute;
            top: 1%;
            left: 2%;
            display: flex;
            /* Change to column direction */
            gap: 10px;
            /* Adjust as needed */

            .left-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
            }

            .right-item {
                margin-left: 200px;

                /* Adjust margin as needed */
            }
        }

        .member-item-first {
            position: absolute;
            top: calc(10%);
            /* Adjust the percentage and pixel value based on your layout */
            left: 2%;
            display: flex;
            gap: 10px;

            .left-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
            }

            .right-item {
                margin-left: 200px;
                /* Adjust margin as needed */
                padding-bottom: 20px;
            }
        }

        .member-item-second {
            position: absolute;
            top: calc(16% + 10px);
            /* Adjust the percentage and pixel value based on your layout */
            left: 2%;
            display: flex;
            gap: 10px;


            .left-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                width: 300px;
                word-wrap: break-word;

            }

            .right-item {
                margin-left: 110px;
                /* Adjust margin as needed */
                padding-bottom: 20px;
            }
        }

        .member-item-third {

            position: absolute;
            top: calc(26%);
            /* Adjust the percentage and pixel value based on your layout */
            left: 2%;
            display: flex;
            gap: 10px;

            .left-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                width: 500px;
                word-wrap: break-word;
            }

            .right-item {
                margin-left: 125px;
                /* Adjust margin as needed */
            }
        }

        .member-item-fourth {
            position: absolute;
            top: calc(39%);
            /* Adjust the percentage and pixel value based on your layout */
            left: 2%;
            display: flex;
            gap: 10px;

            .left-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                width: 300px;

            }

            .right-item {
                margin-left: 75px;
                /* Adjust margin as needed */
            }
        }

        .member-item-fifth {
            position: absolute;
            top: calc(62%);
            /* Adjust the percentage and pixel value based on your layout */
            left: 2%;
            display: flex;
            gap: 10px;

            .left-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
            }

            .right-item {
                margin-left: 121px;
                /* Adjust margin as needed */

            }
        }

        .member-item-sixth {
            position: absolute;
            top: calc(70%);
            /* Adjust the percentage and pixel value based on your layout */
            left: 2%;
            display: flex;
            gap: 10px;

            .left-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
            }

            .right-item {
                margin-left: 225px;
                /* Adjust margin as needed */

            }
        }

        .member-item-seventh {
            position: absolute;
            top: calc(77%);
            /* Adjust the percentage and pixel value based on your layout */
            left: 2%;
            display: flex;
            gap: 10px;

            .left-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                width: 300px;
                word-wrap: break-word;
            }

            .right-item {
                margin-left: 225px;
                /* Adjust margin as needed */

            }
        }
    }
}