.explore-now {
  position: absolute;
  top: 14px;
  left: 28px;
  line-height: 32px;
  font-weight: 500;
}
.explore-btn {
  position: absolute;
  top: 0;
  left: 684.97px;
  border-radius: var(--br-8xs);
  background-color: var(--primary-o);
  box-shadow: 0 8px 16px rgba(250, 116, 54, 0.16);
  width: 182.07px;
  height: 66.21px;
}
.bn-mun-n,
.location {
  position: absolute;
  top: 35.52px;
  left: 0;
  display: inline-block;
  width: 139.03px;
  height: 19.86px;
}
.location {
  top: 0;
  font-weight: 500;
  width: 76.14px;
  height: 26.48px;
}
.frame-inner,
.location-parent {
  position: absolute;
  top: 7.48px;
  left: 72.66px;
  width: 13.03px;
  height: 7.52px;
}
.location-parent {
  top: 0;
  left: 23px;
  width: 84.69px;
  height: 26.48px;
  font-size: var(--button-1-size);
  color: var(--primary-b);
}
.bn-mun-n-u-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 139.03px;
  height: 55.38px;
}
.ngy-nhn-phng,
.s-hnh-khch {
  position: absolute;
  top: 35px;
  left: 207.52px;
  display: inline-block;
  width: 222px;
  height: 20px;
}
.s-hnh-khch {
  left: 503.52px;
  width: 91px;
}
.content1 {
  position: absolute;
  top: 6.69px;
  left: 0;
  width: 594.52px;
  height: 55.38px;
  font-size: var(--font-size-xs);
  color: var(--paragraph);
  font-family: var(--font-roboto);
}
.content,
.search-bar {
  position: absolute;
  top: 35.31px;
  left: 28.48px;
  width: 867.03px;
  height: 66.21px;
}
.search-bar {
  top: 645px;
  left: 255px;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-5);
  box-shadow: 0 2px 80px 2px rgba(0, 0, 0, 0.06);
  width: 928px;
  height: 136.83px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-5);
  font-family: var(--font-poppins);
}
