.button {
  position: relative;
  line-height: 24px;
}
.property-1large-property-2p {
  border-radius: var(--br-xs);
  background-color: var(--purple-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-5xl);
  text-align: center;
  font-size: var(--button-1-size);
  color: var(--neutral-5);
  font-family: var(--button-1);
}
