// CounterComponent.scss
.counter-form {
    width: 300px;
    text-align: center;
    padding-top: 50px;
    align-items: center;
    display: flex;
    z-index: 1;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  .decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    z-index: 9;
  }

  #number:focus {
    border-radius: 1px #ddd;
    z-index: 88;
  }
  
  
  [type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  