.Search_item-container {
    display: flex;
    justify-content: center;
    width: 400px;
    align-items: center;
    flex-direction: column;
    .Search_item-container-input {
        width: 100%;
    }

    .Search_item_li {
        list-style: none;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.12) 0px 2px 8px 0px;
        border-radius: 3px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .search_btn-size {
        width: 60px;
        height: 32px;
        position: relative;
        left: -3px;
    }
    .search_btn-container{
        background-color: #3ABDFE;
    }
    
    .input-group {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}