.frame-icon {
  position: absolute;
  top: 286px;
  left: calc(50% - 561px);
  width: 1121px;
  height: 37px;
  overflow: hidden;
}
.destination1,
.frame-icon1 {
  position: absolute;
  width: 1122px;
}
.frame-icon1 {
  top: 0;
  left: calc(50% - 561px);
  height: 37px;
  overflow: hidden;
}
.destination1 {
  top: 861px;
  left: 159px;
  height: 323px;
  text-align: left;
  font-size: var(--button-1-size);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
