.home,
.iconuser-interfacelinearrow {
  position: absolute;
  top: calc(50% - 12px);
}
.home {
  left: 0;
  line-height: 24px;
}
.iconuser-interfacelinearrow {
  left: calc(50% + 11px);
  width: 24px;
  height: 24px;
}
.property-1default {
  width: 70px;
  height: 24px;
  text-align: left;
  font-size: var(--button-1-size);
  color: var(--neutral-2);
  font-family: var(--button-1);
}
