Requirements: 
    Users Requirements: 
        Search for places givens 
            + City 
            + Date:
                + came 
                + leave
            + Members count: 
                + adults
                + childrens

            sub_features: 
                Places filter 
                Show on map 

        -> Entities:
            Reviews (optional):
            Rooms: 
                Status: {freed, occupied}
                Occupation Start: 
                Occupation End: 
                Volume of human: 
                    adults
                    childrens
                Prices

            Hotel: 
                Review:  
                Score:  
                Address: 
                Images: 
                Description: 

                ref Rooms
                
            City: 
                + rel Hotel

    -> ERD